<!DOCTYPE html>

<head>
    <title>Adding a Book</title>
</head>


<h1>Enter a New Book</h1>
<form action="/new_book" method="post">
    <label>title:</label>
    <input type="text" id="title" name="title" required><br><br>

    <label>author:</label>
    <input type="text" id="author" name="author" required><br><br>

    <label>genre:</label>
    <input type="text" id="genre" name="genre" required><br><br>

    <label>published_year:</label>
    <input type="text" id="published_year" name="published_year" required><br><br>
    <input type="submit" value="Add new Book">
</form>