<!DOCTYPE html>

<head>
    <title>View Books</title>
</head>

<body>
    <h1>Current Books</h1>
    <table>

        <tr>
            <th>id</th>
            <th>title</th>
            <th>author</th>
            <th>genre</th>
            <th>published_year</th>
        </tr>
        {% if sql1s %}
            {% for sql1 in sql1s %}
            <tr>
                <td>{{ sql1[0] }}</td>
                <td>{{ sql1[1] }}</td>
                <td>{{ sql1[2] }}</td>
                <td>{{ sql1[3] }}</td>
                <td>{{ sql1[4] }}</td>
            </tr>
            {% endfor %}
        {% else %}
        <tr>
            <td colspan="4"> No sql1 Found</td>
        </tr>
        {% endif %}
    </table>
</body>

</html>